$font-color: (
  normal: #222,
  link: #3a83d0,
  link-hover: #73afe5,
  dark: #666,
  light: #999,
  white: #fff,
  primary: #0062ff
);

.sample-elm-ui-components {
  width: 500px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 20px;
  margin: 20px auto;
  
  & > li {
    display: inline-block;
    list-style: none;
  }
}

.checkbox {
  display: none;
}

.checkbox + .checkbox-label {
  &:hover {
    color: map-get($font-color, light);
  }

  &::before {
    position: relative;
    content: '';
    z-index: 1;
    display: inline-block;
    width: 18px;
    height: 18px;
    top: 6px;
    left: 4px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #005a96;
    border: 1px solid #e6e6e6;
    color: transparent;
    transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1), color 0.3s cubic-bezier(0.19, 1, 0.22, 1), border-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
}    

.checkbox:checked + .checkbox-label {
  color: #005a96;

  &::before {
    content: '\2713';
    top: 1px;
    left: 4px;
    line-height: 20px;
    font-family: icons;
    font-size: 13px;
    color: #fff;
  }
}
